:root {
  --text-color: #222831;
  --light-text-color: #909398;
  --additional-text-color: #393E46;
  --primary-color: #00ADB5;
  --secondary-color: #DCF1F2;
  --background-color: #fff;
}

html[data-theme="dark"] {
  --text-color: #F7F8F8;
  --background-color: #17171c;
}