@import url(./colors.scss);
@import url('shared/ui/customSelect.scss');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (max-width: 900px){
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100dvh;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

main{
  min-height: calc(100dvh - 110px);
}