.header {
  // max-width: 1920px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 30px;

  nav {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 30px;
    
    a{
      height: 30px;
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 40px;
}

.activeNavLink{
  font-weight: 700;
}