.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem;
  font-weight: 400;
  font-size: 0.75rem; 
  text-transform: uppercase;
  line-height: 1.4rem;
  background: #FFFF;

  nav {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    height: 1.4rem;
    
    a{
      height: 1.4rem;
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.activeNavLink{
  font-weight: 700;
}

.logo{
  width: 1.875rem;
  height: 1.4rem;
}

.generate{
  position: relative;
  cursor: pointer;
}

.username{
  cursor: pointer;
  position: relative;
}