.toast {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  font-family: "Source Code Pro";
  box-shadow: var(--shadow);
  border-radius: 9px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.03em;
  line-height: 1.75rem;
  background: #fff;
}

.headlessClose {
  position: absolute;
  cursor: pointer;
  top: 6px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 6px;
  color: var(--black);
  padding: 0;
  background: transparent;
  border: none;
  transition: opacity 200ms;
}

.headlessClose:hover {
  opacity: 0.6;
}