.cardItem {
  position: relative;
  z-index: 1;
  transition: all 0.6s ease-in-out;
  width: 18rem;

  &:hover {
    z-index: 20;
    box-shadow: 0 2px 4px #0000005a;
  }

  ::-webkit-scrollbar{
    width: 4px;
    overflow-x: none;
    // background-color: gainsboro;
  }

  ::-webkit-scrollbar-track{
   border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    width: 4px;
    border-radius: 4px;
    height: 4px;
  }
}

.cardItem:hover > .description {
  transform: translateX(18rem) ;
  box-shadow: 0 2px 4px #0000002e;
  @media (max-width: 1204px ) {
    transform: translateX(0px);
    z-index: 20;
    border-radius: 0 0 0 0;
  }
}

.cardItem:nth-of-type(4n):hover > .description{
  transform: translateX(-18rem);
  border-radius: 1rem 0rem 0rem 1rem;
  @media (max-width: 1204px ) {
    transform: translateX(0px);
    z-index: 20;
    border-radius: 0 0 0 0;
  }
}

.description {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 18rem;
  height: 18rem;
  background: #ffffffd7;
  transition: box-shadow 0.9s linear, transform 0.9s ease-in-out;
  cursor: default;
  box-shadow: 0 0px 0px #0000000b;

  padding: 0 1rem;
  border-radius: 0 1rem 1rem 0;

  h2 {
    text-align: center;
    padding: 0.5rem;
  }

  ol {
    overflow-y: scroll;
    list-style-position: inside;
    height: 13.5rem;
  }
}

.image {
  position: relative;
  z-index: 1;
  height: 18rem;
  width: 18rem;
  overflow: hidden;
  

  img {
    height: 18rem;
    width: 18rem;
  }
}



